body {
    margin: 0px;
    background-color: rgb(70, 70, 70);
}
#main {
    margin: 0px auto;
    min-width: 600px;
    background-color: white;
}
#header {
    text-align: center;
    background-color: grey;
    margin: auto;
}
#content {
    height: 618px;
}
#transcript {
    width: 48%;
    margin: 0px auto;
    height: 100%;
    overflow-y: auto;
    display: inline-block;
}
#footer {
    padding: 5px;
    background-color: grey;
}
#title {
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0px 0px 20px;
    padding: 5px;
}
#infoBox {
    display: none;
}
#titleInfo {
    background-color: rgb(19, 79, 145);
    color: white;
    font-family: courier;
}
#groupInfo {
    background-color: rgb(19, 79, 100);
    color: white;
}
#audioPlayer {
    padding-bottom: 24px;
}
#filterText {
    margin: 5px;
    width: 98%;
}
#search {
    text-align: left;
    height: 30px;
}
#defaultSearchText {
    pointer-events: none;
    position: relative;
    top: -24px;
    left: 10px;
    text-align: left;
    font-style: italic;
    color: grey;
}
#episodeBoxList {
    width: 50%;
    margin: 0px auto;
    height: 100%;
    overflow-y: auto;
    display: inline-block;
}

/* Player controls */
#randomButton {
    position: relative;
    top: -34px;
}
#previousSound {
    background: url(player_buttons.png) -325px 0px;
}
#previousSound:hover {
    background: url(player_buttons.png) -325px -78px;
}
#previousSound:active {
    background: url(player_buttons.png) -325px -157px;
}
#nextSound {
    background: url(player_buttons.png) -243px 0px;
}
#nextSound:hover {
    background: url(player_buttons.png) -243px -78px;
}
#nextSound:active {
    background: url(player_buttons.png) -243px -157px;
}
/* !Player controls */

.episode span {
    padding-left: 10px;
}
.episode {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: auto;
    font-size: 18px;
}
.episode:nth-child(even) {
    background-color: #9AB9CE;
}
.episode:nth-child(odd)  {
    background-color: #CCD0DF;
}
.episode:nth-child(even):hover {
    background-color: #7897AC;
}
.episode:nth-child(odd):hover  {
    background-color: #AAB0BC;
}
.played {
    background-color: rgb(19, 79, 145) !important;
    color: white !important;
}
.groupLabel {
    color: rgb(6, 59, 109);
    cursor: pointer;
}
.played span {
    color: lightgrey !important;
}
.playButton:hover {
    color: rgb(70, 120, 247);
}
.char1 {
    margin : 3px;
    padding: 5px 10px;
    background-color: lightblue;
}
.char1 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char2 {
    margin : 3px;
    padding: 5px 10px;
    background-color: lightgrey;
}
.char2 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char3 {
    margin : 3px;
    padding: 5px 10px;
    background-color: magenta;
}
.char3 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char4 {
    margin : 3px;
    padding: 5px 10px;
    background-color: cyan;
}
.char4 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char5 {
    margin : 3px;
    padding: 5px 10px;
    background-color: orange;
}
.char5 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char6 {
    margin : 3px;
    padding: 5px 10px;
    background-color: purple;
}
.char6 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char7 {
    margin : 3px;
    padding: 5px 10px;
    background-color: red;
}
.char7 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char8 {
    margin : 3px;
    padding: 5px 10px;
    background-color: green;
}
.char8 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
.char9 {
    margin : 3px;
    padding: 5px 10px;
    background-color: yellow;
}
.char9 ul {
    list-style-type: none;
    padding: 4px 15px;
    margin: 0px;
}
